.node {
    display: flex;
    background-color: white;
    height: 29px;
    width: 29px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.start {
    background-color: #20b120;
}

.finish {
    background-color: #bb2929;
}

.visited {
    background-color: #f2f55c;
}

.path {
    background-color: #980fa5
}

.wall {
    background-color: #424242;
}